
* {
    margin: 0;
    padding: 0;
}

.mainCont {
    display: flex;
    height: 100vh;
}
.secondCont {
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.topBar {
    background: rgb(69, 69, 99);
    display: flex;
    align-items: center;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topBar h2 {
    color: white;
}

.chatbox {
    background: rgb(6, 6, 49);
    height: 100%;
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    
}
.chatbox::-webkit-scrollbar {
    display: none;
}

.sentCont {
    background: lightblue;
    border-radius: 15px 15px 15px 0;
    padding: 10px 20px 10px 10px;
    margin: 15px 0 15px 10px;


    min-width: fit-content;
    width: 20%;
    max-width: 150px;
    min-width: 100px;
    align-self: flex-start;

}
.recvCont {
    background: lightgreen;
    border-radius: 15px 15px 0px 15px;
    padding: 10px 10px 10px 20px;
    margin: 15px 10px 15px 0;

    min-width: fit-content;
    width: 20%;
    max-width: 150px;
    min-width: 50px;
    align-self: flex-end;  
}


.textBar {
    background: rgb(6, 6, 49);

    height: 10vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

}
.textBar input {
    background: rgb(6, 6, 49);
    color: white;
    border-radius: 15px;
    padding: 10px 20px;
    width: 70%;
    max-width: 500px;
    border-color: rgb(255, 235, 235);
    font-size: 1rem;

    
    
}
.textBar input:focus{
    outline: none;
}

@media only screen and (max-width: 660px) {
    .topBar {
        flex-wrap: wrap;
    }
    .topBar h2 {
        font-size: 1rem;
    }
}
/* @media only screen and (max-width: 660px) {
    .topBar h2 {
        font-size: 1rem;
    }
} */